<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>508300369949-oqt9ta2pfrc97vn46cg0j8b5m48ke9jb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508300369949-oqt9ta2pfrc97vn46cg0j8b5m48ke9jb</string>
	<key>API_KEY</key>
	<string>AIzaSyCbXkdpm_CEoTo3wOgsDlFqZqjP1XRZx3E</string>
	<key>GCM_SENDER_ID</key>
	<string>508300369949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litech.TenissBB2</string>
	<key>PROJECT_ID</key>
	<string>tennisdatabase-995cd</string>
	<key>STORAGE_BUCKET</key>
	<string>tennisdatabase-995cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508300369949:ios:9eda8060dc42653e</string>
	<key>DATABASE_URL</key>
	<string>https://tennisdatabase-995cd.firebaseio.com</string>
</dict>
</plist>